<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Pokédex</title>
    <link rel="stylesheet" href="../css/detalhes.css">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/superball.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1> <a href="/">Pokédex</a> </h1>
    </header>
    <main>
        <section class="card">
                    <p id="num">Posição oficial: <%= pokemon.numero %></p>
                    <img src="<%= pokemon.image %>" alt="pokémon">
                    <h2><%= pokemon.name %></h2>
                    <p id="descrip"><%= pokemon.description %></p>
                <div id="container">
                    <p>Categoria: <%= pokemon.category %></p>
                    <p>Peso: <%= pokemon.peso %></p>
                    <p>Altura: <%= pokemon.altura %></p>                
                    <p>Tipo: <%= pokemon.type %></p>
                    <p>Habilidade: <%= pokemon.abilities %></p>
                </div>
        </section>
    </main>
    <footer>
        <p>All rights reserved <a target="_blank" href="https://github.com/sirdav1d">David D. Dos Santos &copy;</a></p>
    </footer>
</body>
</html>