<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Pokedex</title>
    <link rel="stylesheet" href="/css/detalhes.css">
</head>
<body>
    <header>
        <h1> <a href="/">Pokédex</a> </h1>
    </header>
    <main>
        <section id="card">
                <div class="card">
                    <img src="<%= pokemon.image %>" alt="pokémon">
                    <h2>
                        <%= pokemon.name %>
                    </h2>
                    <p><%= pokemon.description %></p>
                    <p>Tipo: <%= pokemon.type %></p>
                    <p>Habilidade: <%= pokemon.abilities %></p>
                </div>
    </main>
    <footer>
        <p>All rights reserved <a target="_blank" href="https://github.com/sirdav1d">David D. Dos Santos &copy;</a></p>
    </footer>
</body>
</html>