<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Master Pokedex</title>
</head>
<body>
    <header>
    <h1>Pokedex</h1>
    </header>

    <main>
   <section id="card">
<% pokedex.forEach((pokemon)=> { %> 
    <div class="card">
            <img src= "<%= pokemon.image %>" alt="">
            <h2><%= pokemon.name %></h2>
            <p><%= pokemon.description %></p>
            <p>Tipo: <%= pokemon.type %></p>
            <p id="abilities">Habilidade: <%= pokemon.abilities %></p>
    </div>
<%  }) %>
   </section>
   <section id="cadastro">
       <h2>
           Cadastre um novo Pokémon
       </h2>
       <form action="/add" method="POST">
           <label for='name'>Nome:</label>
           <input type="text" id="name" name='name'>

           <label for="description">Descrição:</label>
           <input type='text' id="description" name='description'>

        <label for='type'>Tipo:</label>
        <input type="text" id="type" name='type'>

        <label for="abilities">Habilidade:</label>
        <input type="text" id="abilities" name='abilities'>

        <label for='image'>Link da Imagem:</label>
        <input type="text" id="image" name='image'>

        <button id="btn-cadastrar" type="submit">
            Cadastrar
        </button>
       </form>
   </section>
</main>

</body>
</html>